body {
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    place-items: center;
}

.base-timer {
    position: relative;
    width: 60px;
    height: 60px;
}

.base-timer__svg {
    transform: scaleX(1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 9px;
    stroke: #ff6200;
}

.base-timer__path-remaining {
    stroke-width: 11px;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: #f0f0f0;
}

.base-timer__label {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    color: #ff6200;
}